//- block variables
//- 	-var items = [{time:'16:00', text:'Сбор гостей'},{time2:'16:20', text2:'Выездная Церемония'},{time3:'17:00', text3:'Банкет'}]




//- section.program.container
//- 	h2.program__title.font-rosa 28.08.2021
//- 		br
//- 		span Программа дня:
//- 	ul.program__list
//- 		li.program__item
//- 			each item in items
//- 				p.program__item--time #{item.time}
//- 				p.program__item--text #{item.text}
//- 		li.program__item
//- 			each item in items
//- 				p.program__item--time #{item.time2}
//- 				p.program__item--text #{item.text2}
//- 		li.program__item
//- 			each item in items
//- 				p.program__item--time #{item.time3}
//- 				p.program__item--text #{item.text3}

section.program
	img.program-decor--left(src="images/branch-left.svg", alt="")
	img.program-decor--right(src="images/branch-right.svg", alt="")
	.container
		h2.program__title.font-rosa 28.08.2021
			br
			span Программа дня:
		ul.program__list
			li.program__item
				p.program__item--time 16:00
				p.program__item--text Сбор гостей
					br
					span б.о «Малинки» ул. Лодочная, 5
			li.program__item
				p.program__item--time 16:20
				p.program__item--text Выездная Церемония
			li.program__item
				p.program__item--time 17:00
				p.program__item--text Банкет

		form.form(action="")
			h3.form__title.font-rosa Пожалуйста, подтвердите свое присутствие до
				br
				|28.07.2021
			input.form__input(type="text" placeholder="Ввод" #="enter")
			label.form__label(for="enter") Введите Ваше ФИО, а также ФИО Вашего спутника(через запятую) и нажмите ПОДТВЕРДИТЬ
			button.btn ПОДТВЕРДИТЬ